p {
  width: 80%;
  padding: 15px 0 15px 20px;
  margin: 15px 0;
  position: relative;
}

p:before {
    content: "";
    display: block;
    width: 60%;
    height: 1px;
    position: absolute;
    top: -1px;
    left: 0;
    background-color: #efc73c;
}

p:after {
    content: "";
    display: block;
    width: 60%;
    height: 1px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: #efc73c;
}
